@page "/groupp/{TagGroupProduct}"
@inject IJSRuntime JSRuntime;
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>@Title</span>
                </div>
            </div>
        </div>
    </div>
</div>

@* Product Section Begin *@
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ViewProduct Title="@Title" CategoryId="1" />
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <RightImageLarge Title="Top View" />

                <RightImageThin Title="Top Comment" />
            </div>
        </div>
    </div>
</section>
@* Product Section End *@
@code {
    [Parameter]
    public string? TagGroupProduct { get; set; }

    [Parameter]
    public string? Title { get; set; }

    protected override void OnInitialized()
    {
        Title = TagGroupProduct;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("setTitle", Title);
    }
}
